@import 'tailwindcss';

@theme {
    --font-display: 'Satoshi', sans-serif;
    --color-avocado-500: oklch(0.84 0.18 117.33);

    --color-primary-100: #959cb6;
    --color-primary-500: #0c1421;
    --color-primary-600: #934;

    --color-border-soft: #e2e8f0;

    --color-placeholder: #64748b;

    --color-brand: #34987b;

    --color-bg-slate-50: '#F8FAFC';

    --color-text-1: #94a3b8;
    --color-text-2: #64748b;
}

/* Base attribute h1,p... */
@layer base {
    body {
        /* @apply min-w-screen p-6; */
        @apply h-full;
    }
}

/* Self classes */
@layer components {
}

/* Extend tailiwnd classes: scrollbar, line-clamp... */
@layer utilities {
}

/* Src Jonas */
.loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(#333 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    20% {
        background-position:
            0% 0%,
            50% 50%,
            100% 50%;
    }
    40% {
        background-position:
            0% 100%,
            50% 0%,
            100% 50%;
    }
    60% {
        background-position:
            0% 50%,
            50% 100%,
            100% 0%;
    }
    80% {
        background-position:
            0% 50%,
            50% 50%,
            100% 100%;
    }
}
